.redAlert{
    color: red;
    font-size: 120%;
}
html,body,footer{
    margin: 0 ;
    padding: 0 ;
    overflow-x: hidden;
}
body {
    background: url('../img/imgForm2.jpg') top center no-repeat fixed;
    background-size: 80vw 100vh;
    min-height: 100vh;
    position: relative;
    height: auto;
}
footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 30px;
    line-height: 30px;
    background-color: rgba(137,137,137,1);
}
.logoClickart3 {
    width: 150px;
    height: 60px;
    border-color: black;
    padding: 5px;
    box-shadow: inset 6px 6px 15px black;
    border-radius: 20px;
}
.identifiedBtn {
    border-color: black;
    padding: 5px;
    box-shadow: 0px 6px 15px black;
}
.lastname, .firstname, .email, .phoneNumber, .residencePlace, .material, .hairColor{
    width: 200px;
} 
h2 {
    color: dark;
}
/*on intercale une feuille blanche pour simuler l'opacité du background*/
.background_opacity {
    background-size: 100vw 100vh;
    min-height: 100vh;
    position: relative;
    padding-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.7); /* L'opacite se regle ici */
}
.form {
    width: 300px;
    box-shadow: 6px 10px 10px black;
}
textarea {
    box-shadow: 6px 10px 10px black;
}
.comment {
    color: white;
    background-color: #7B7B7B ;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 140px;
    margin-right: 140px;
    border-radius: 20px;
    box-shadow: 6px 10px 10px black;
}
.profilCSS {
    box-shadow:6px 15px 15px darkslategrey;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 60px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-style:solid;
    border-color:black;
    border-radius: 20px;
}
#olivier {
    height: 60px;
}
.font {
    font-family: 'Caveat', cursive;
    font-size: 180%; 
}
@media(min-width:768px){
    .redAlert{
        color: red;
        font-size: 120%;
    }
    html,body,footer {
        margin: 0 ;
        padding: 0 ;
        overflow-x: hidden;
    }
    body {
        background: url('../img/imgForm.jpg') top center no-repeat fixed;
        background-size: 80vw 100vh;
        min-height: 100vh;
        position: relative;
        height: auto;
    }
    footer {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 30px;
        line-height: 30px;
        background-color: rgba(137,137,137,1);
    }
    .logoClickart3 {
        width: 150px;
        height: 60px;
        border-color: black;
        padding: 5px;
        box-shadow: inset 6px 6px 15px black;
        border-radius: 20px;
    }
    .identifiedBtn {
        border-color: black;
        padding: 5px;
        box-shadow: 0px 6px 15px black;
    }

    h2 {
        color: dark;
    }
    /*on intercale une feuille blanche pour simuler l'opacité du background*/
    .background_opacity {
        background-size: 100vw 100vh;
        min-height: 100vh;
        position: relative;
        padding-bottom: 20px;
        background-color: rgba(255, 255, 255, 0.7); /* L'opacite se regle ici */
    }
    .form {
        width: 300px;
        box-shadow: 6px 10px 10px black;
    }
    textarea {
        box-shadow: 6px 10px 10px black;
    }
    .comment {
        color: white;
        background-color: #7B7B7B ;
        padding-left: 150px;
        padding-right: 150px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-left: 140px;
        margin-right: 140px;
        border-radius: 20px;
        box-shadow: 6px 10px 10px black;
    }
    .profilCSS {
        box-shadow:6px 15px 15px darkslategrey;
        margin-left: 30px;
        margin-right: 30px;
        margin-top: 60px;
        padding-top: 30px;
        padding-bottom: 30px;
        border-style:solid;
        border-color:black;
        border-radius: 20px;
    }
    #olivier {
        height: 60px;
    }
    .font {
        font-family: 'Caveat', cursive;
        font-size: 180%; 
    }
}